@charset "utf-8";

/* =========================
   Reset CSS
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  margin: 0;
  padding-top: 90px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

button,
input,
textarea {
  font: inherit;
}

/* =========================
   共通レイアウト
========================= */

.profile,
.skill,
.works,
.lp-design,
.wix-design {
  padding-top: 90px;
  padding-bottom: 90px;

  padding-left: max(5%, calc((100% - 1200px) / 2));
  padding-right: max(5%, calc((100% - 1200px) / 2));
}

.profile-title,
.skill-title,
.works-title,
.lp-title,
.wix-title {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 45px;
}

.profile-title h2,
.skill-title h2,
.works-title h2,
.lp-title h2,
.wix-title h2 {
  font-family: "Brush Script MT", cursive;
  font-size: 88px;
  font-weight: normal;
  margin: 0;
}

.header {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;

  width: 100%;
  height: 90px;
  padding: 0 8%;

  display: flex;
  align-items: center;

  background-color: #fff;
  box-sizing: border-box;
  z-index: 99999;
}

.header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a{
  font-family: "Brush Script MT", cursive;
  font-size: 24px;
  text-decoration: none;
  color: #79440d;
  font-weight: normal;
 }

.nav a {
  margin-left: 35px;
  text-decoration: none;
  font-family: "Brush Script MT", cursive;
  color: #79440d;
  font-size: 24px;
  letter-spacing: 0.1em;
 }

.nav a:hover {
  opacity: 0.7;
 }
.hero {
      width: 100%;
      height: 750px;
      background-size: cover;
      background-position: center;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("hero-bg.png.png");
 }

.hero-text {
  font-family:'Noto Serif JP',serif;
  font-size:67px;
  font-weight: 400;
  color: #79440d;
  text-align: center;
 }

.hero-text span {
  text-shadow:4px 4px 10px #FFB66B
}

 .name{
  font-family:'Noto Serif JP',serif;
  font-size:25px;
  font-weight: 400;
  color: #79440d;
  text-align: center;
 }

.title {
      color: #79440d;
      font-size: 38px;
      line-height: 1.8;
      letter-spacing: 0.12em;
      font-weight: normal;
 }

.name {
      margin-top: 25px;
      color: #79440d;
      font-size: 16px;
      letter-spacing: 0.15em;
 }

.profile {
  background: #fff;
  color: #79440d;
  font-family:'Noto Serif JP',serif;
 }

.profile-title span {
  font-size: 14px;
  letter-spacing: 0.4em;
 }

.profile-inner {
  display: flex;
  align-items: center;
  gap: 70px;
 }

.profile-image {
  width: 43%;
 }

.profile-image img {
  width: 100%;
  display: block;
 }

.profile-text {
  width: 50%;
 }

.profile-text h3 {
  font-size: 38px;
  font-weight: normal;
  margin-bottom: 12px;
 }

.profile-text .job {
  font-size: 14px;
  margin-bottom: 55px;
 }

.profile-text h4 {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 0.15em;
  margin-bottom: 25px;
 }

.profile-text p {
  font-size: 14px;
  line-height: 2.4;
  letter-spacing: 0.08em;
 }

.skill {
  background:
    url("skill.back.png") center / cover no-repeat;
  color: #79440d;
  font-family: 'Noto Serif JP', serif;
  position: relative;
}

.skill-title span {
  font-size: 14px;
  letter-spacing: 0.35em;
 }

.skill-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px;
 }

.skill-card {
  background: #fff;
  padding: 45px 26px;
  min-height: 250px;
 }

.skill-card img {
  width: 52px;
  height: 52px;
  object-fit: contain;
  margin-bottom: 28px;
 }

.skill-card h3 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 24px;
 }

.skill-card p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.08em;
 }

 .works {
  background: #fff;
  color: #79440d;
  font-family:'Noto Serif JP',serif;
 }

.works-title span {
  font-size: 14px;
  letter-spacing: 0.25em;
 }

.works-list {
  display: grid;
  grid-template-columns: repeat(2, 575px);
  gap: 45px 35px;
  justify-content: center;
 }

.work-item img {
  width: 575px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
 }

.work-item h3 {
  font-size: 28px;
  font-weight: normal;
  margin: 18px 0 18px;
 }

.tags {
  display: flex;
  gap: 10px;
 }

.tags span {
  border: 1px solid #c79b75;
  padding: 4px 10px;
  font-size: 10px;
  letter-spacing: 0.15em;
 }

.hidden-work {
  display: none;
}

.hidden-work.show {
  display: block;
}

.more-btn-wrap {
  grid-column: 1 / -1;   /* 2列分使う */
  display: flex;
  justify-content: center;
  margin-top: 55px;
 }

.lp-design {
  background-color: #fffdf4;
  background-image: url("LP.back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #79440d;
  font-family: "Noto Serif JP", serif;
}

.lp-title span {
  font-size: 14px;
  letter-spacing: 0.3em;
 }

.lp-inner {
  display: flex;
  align-items: center;
  gap: 40px;
 }

.lp-image {
  width: 48%;
 }

.lp-image img {
  width: 100%;
  display: block;
 }

.lp-text {
  width: 45%;
  color: #79440d;
}

.lp-text h3 {
  margin: 0 0 18px;
  color: #79440d;
  font-family: "Noto Serif JP", serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 0.25em;
}

.lp-text p {
  margin: 0;
  color: #79440d;
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.08em;
}

.wix-design {
  background: #fff;
  color: #79440d;
  font-family: 'Noto Serif JP', serif;
 }

.wix-title span {
  font-size: 14px;
  letter-spacing: 0.3em;
 }

.wix-inner {
  display: flex;
  align-items: center;
  gap: 55px;
 }

.wix-text {
  width: 42%;
 }

.wix-text h3 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 22px;
 }

.wix-text p {
  font-size: 16px;
  line-height: 2.1;
  letter-spacing: 0.08em;
  margin-bottom: 25px;
 }

.wix-image {
  width: 48%;
 }

.wix-image img {
  width: 100%;
  display: block;
 }

 .site-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 38px;

  background: #fff;
  border: 1px solid #b88a62;
  color: #79440d;

  text-decoration: none;
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
  letter-spacing: 0.2em;

  transition: 0.3s;
}

.site-btn:hover {
  background: #79440d;
  color: #fff;
}

 .footer {
  background:
    url("back.footer.png") center / cover no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  text-align: center;
  color: #79440d;
  font-family: 'Noto Serif JP', serif;
 }

.footer-inner h2 {
  font-family: "Brush Script MT", cursive;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 30px;
 }

.footer-nav {
  margin-bottom: 25px;
 }

.footer-nav a {
  margin: 0 18px;
  text-decoration: none;
  color: #7a3f00;
  font-size: 13px;
  letter-spacing: 0.1em;
 }

.footer-nav a:hover {
  opacity: 0.7;
 }

.copy {
  font-size: 11px;
  letter-spacing: 0.08em;
 }

 /* LPの追加作品 */
.hidden-lp-work {
  display: none;
}

.hidden-lp-work.show {
  display: flex;
}

/* Wixの追加作品 */
.hidden-wix-work {
  display: none;
}

.hidden-wix-work.show {
  display: flex;
}

/* もっと見るボタンの位置 */
.lp-more-btn-wrap,
.wix-more-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

/* 共通のもっと見るボタン */
.more-btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 42px;
  border: 1px solid #b88a62;
  background: #fff;
  color: #79440d;
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  letter-spacing: 0.3em;
  cursor: pointer;
}

.more-btn:hover {
  background: #79440d;
  color: #fff;
}

.lp-list,
.wix-list {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
